---
import { LoginForm } from "@/components/login-form";
import MainLayout from "@/layout/layout.astro"
---

<MainLayout>
	<div class="grid place-items-center h-dvh content-center">
		<LoginForm client:load/>
	</div>
</MainLayout>


